#root {
  margin: 0 auto;
  text-align: center;
}

.fondo {
  background-color: black; 
  background-image: linear-gradient(rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0.90)),
  url('./assets/zapapng.jpg'); 
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

